<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<br>

<div class="container">
  <h1>Projects</h1>
  <hr>
  <h2>Filter</h2>

  <form class="container col-sm-11" method="GET" action="">
    <input type="hidden" name="page" value="1">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        <input class="form-check-input" type="checkbox" id="checkId" name="checkprojectid">ID</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="projectid" name="projectid" placeholder="ID" value="">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        <input class="form-check-input" type="checkbox" id="checkname" name="checkname">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        <input class="form-check-input" type="checkbox" id="checkmember" name="checkmember">Member</label>
      <div class="col-sm-10">
        <select class="form-control" name="member" id="member">
          <option selected disabled>Choose the member</option>

          <option value=""> item.lastname </option>
        </select>
      </div>
    </div>

    <br>

    <div class="form-group row">
      <div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a href="/routes/projects" class="btn btn-outline-danger">Reset</a>
      </div>
    </div>
  </form>

  <hr>

  <h2>Options</h2>
  <form class="container col-sm-11" method="POST" action="">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="projectid">
        <input class="form-check-input" type="checkbox" name="oprojectid" value="true">ID</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">
        <input class="form-check-input" type="checkbox" name="oname" value="true">Name</label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="member">
        <input class="form-check-input" type="checkbox" name="omember">Member</label>
    </div>

    <br>

    <div class="form-group row">
      <div>
        <button type="submit" class="btn btn-outline-primary"><i class='far fa-check-circle'></i> Apply</button>
      </div>
    </div>
  </form>

  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">ID</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">Member</th>
        <th scope="col" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th style="text-align: center;"> A </th>
        <td style="text-align: center;"> B </td>
        <td style="text-align: center;"> C </td>
        <td style="text-align: center;">
          <a href="project/edit/"><button type="submit" class="btn btn-success">Edit</button></a>
          <a href="project/delete/"><button type="button" class="btn btn-outline-danger">Delete</button></a>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="container">
    <a href="project/add"><button class="btn btn-outline-primary">Add Data</button></a>
  </div>

  <br>

  <!-- pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item ">
        <a class="page-link" href="/projects" tabindex="-1">Previous
        </a>
      </li>

      <li class="page-item ">
        <a class="page-link" href="/projects">
        </a>
      </li>

      <li class="page-item ">
        <a class="page-link" href="/projects">Next</a>
      </li>

    </ul>
  </nav>
  <!-- end pagination -->
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<br>
<%- include('../partials/footer') %>

</html>